<div class="container">
    <div class="form mb-2 mt-2"> 
    <fieldset>
        <form action="/tweets" method="post">
            <div class="input-group">
            <input class="form-control" name="hashtag" placeholder="ex. #covid-19" required type="text">
            <input type="submit" value="buscar!">
            </div>
        </form>
    </fieldset>
</div>