<link href= "../../public/css/global.css" rel="stylesheet" type="text/css" />
<% if(hashtag !== null){ %>
  <div class="main-tweets" align="center">
      <h3>Principais Tweets para <%- hashtag %></h3>
  </div>

<% } %>


<div id="tweets"></div>

<% if(tweets !== null){ %>

<script>
  let tweetstr = <%- JSON.stringify(tweets) %>;
  let tweetHTML = '<div class="row">';
  for (let index = 0; index < tweetstr.statuses.length; index++) {
      var createdDateTime = new Date(tweetstr.statuses[index].created_at);

      if(tweetstr.statuses[index].retweeted_status !== undefined){
          tweetHTML += '<div class="col-sm-4"><div class="card rounded-4 mr-3 ml-3 mb-3">' +
          '<div class="card-body" onclick="approved(this)">' +
          '<h5 class="card-title">@' + tweetstr.statuses[index].user.screen_name + '</h5>' +
          '<h6 class="card-subtitle mb-2 text-muted">' + tweetstr.statuses[index].user.name + '</h6>' +
          '<p class="card-text">' + tweetstr.statuses[index].retweeted_status.full_text + '<</p>' +
          '<p class="card-text"><i class="fa fa-retweet" aria-hidden="true"></i> ' + tweetstr.statuses[index].retweet_count + ' <i class="fa fa-heart" style="color:red;" aria-hidden="true"></i> ' + tweetstr.statuses[index].favorite_count + '</p>' +
          
        //  '<a class="card-link" href="#">Another link</a>' +
          '<p class="card-text"><small class="text-muted">'+createdDateTime.toString()+' </small></p>' +
          '</div>' +
          '</div>' +
          '</div>';

      } 
      else{
          tweetHTML += '<div class="col-sm-4"><div class="card rounded-4 mr-3 ml-3 mb-3">' +
          '<div class="card-body" onclick="approved(this)">' +
          '<h5 class="card-title">@' + tweetstr.statuses[index].user.screen_name + '</h5>' +
          '<h6 class="card-subtitle mb-2 text-muted">' + tweetstr.statuses[index].user.name + '</h6>' +
          '<p class="card-text">' + tweetstr.statuses[index].full_text + '<</p>' +
          '<p class="card-text"><i class="fa fa-retweet" aria-hidden="true"></i> ' + tweetstr.statuses[index].retweet_count + ' <i class="fa fa-heart" style="color:red;" aria-hidden="true"></i> ' + tweetstr.statuses[index].favorite_count + '</p>' +
          
        //  '<a class="card-link" href="#">Another link</a>' +
          '<p class="card-text"><small class="text-muted">'+createdDateTime.toString()+' </small></p>' +
          '</div>' +
          '</div>' +
          '</div>';

      }
      
  }
  
  tweetHTML += '</div>';

  var tweetsContainer = document.getElementById('tweets');
  tweetsContainer.insertAdjacentHTML('beforeend', tweetHTML);
</script>

<% } %>